.details {
    width: 90vw;
    height: fit-content;
    padding: 4rem 2rem;
    margin: auto;
    border-radius: 20px;
    border: 3px solid var(--yellow);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10%;
}

.doctorcard{
    width: 90vw;
    margin: auto;
}

.details .alignleft {
    text-align: left;
    width: fit-content;
}

iframe{
    height: 100%;
    width: 80%;
}

.clinicDetails {
    font-size: 20px;
    margin: 20px 0;

}

.search-filter{
    display: flex;
    width: 90vw;
    margin: auto;
    padding: 1rem;
    gap: 10px;
}

.field{
    border: 2px solid var(--yellow);
}